footer.footer
    ul.footer__nav
        -const items = ["find your way home", "request proposal", "download home planner", "contact us", "submit your property", "come work with us"]
        each item in items
            li.footer__nav--item
                a.footer__nav--item-link #{item}
    p.footer__rights &copy; Design Copyright 2020 by MANDO.