$mainColor: #c69963;
$darkMainColor: darken($mainColor, 10%);
$secColor: #101d2c;
$whiteColor: #fff;
$lightColor1: #f9f7f6;
$lightColor2: #aaa;
$darkColor1: #54483a;
$darkColor2: #6d5d4b;
$mainMargin: 4rem;
$mainPadding: 2.5rem;
$mainFont: 'Nunito', sans-serif;
$headFont: 'Josefin Sans', sans-serif;
$shadow: 0 2rem 5rem rgba(#000, 0.1);
